@page "/settings"
@inject AppState AppState
<h3>Settings</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        AppState.SetSelectedMenuItem(AppConstants.MenuItems.Settings);
    }
}
