@inherits LayoutComponentBase

<div class="vh-100 100-vw p-3 d-flex flex-column justify-content-center align-items-center"> 
    <div class="">
        <img class="mx-auto logo" src="/images/travel-and-tourism.jpg" alt="logo"/>
        <h3 class="m-2">Диплом</h3>
    </div>
    <div class="my-3">
        @Body
    </div>
</div>


<style type="text/css" scoped>
    .logo {
        height: 150px;
        width: 150px;
    }
</style>